
*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
section{
position: relative;
display: flex;
height: 100vh;
width: 100%;



}

section .imagBox{
 position: relative;
 width: 50%;
 height: 100%;
 background: linear-gradient(transparent,#FA1),url("../images/demande.jpg");
 background-position: center;
 background-size: cover;

}
section .contentBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
section .contentBox .formBox h2{
    color: green;
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 70px;
    border: 1px solid black;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px;
    box-shadow: 1px  8px 8px 5px;

}
.inputBox{
    margin-bottom: 20px;
    position: relative;

}
i{
 position: absolute;
 top: 30px;
 left: 10px;
 color: #FA1;
}
.inputBox label {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: 300;
    line-height: 1px;
}
.inputBox  input,button{
    width: 100%;
    padding: 10px 20px;
    font-weight: 400;
    border: 1px solid #607d8b;
    letter-spacing: 1px;
    color: #607d8b;
    outline: none;
    background-color: transparent ;
    border-radius: 10px;
    

}
button{
     background-color: #FA1;
     color: white;
     outline: 0;
     width: 50%;
     float: right;
     font-weight: 600;
     cursor: pointer;




}
button:hover{
      background-color: rgba(255, 172, 17, 0.76);

}
@media (max-width:768px){
    section .imagBox{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:100%;
    }
    section .contentBox {
        width: 100%;
        z-index: 1;


    }  
    section .contentBox .formBox{
        
        background-color: rgb(255 225 255/0.9);
        padding: 40px;


    }






    
}