@font-face{
    font-family: 'Poppins' ;
    src: url(../Css/fonts/Poppins/Poppins-Black.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(../Css/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}
.titre{
    font-family: 'Poppins';
}
.texte{
    font-family: 'Montserrat';
}