body{
    margin: 0px;
}
header{
    padding: 0% 0.5%;
    margin-bottom: 1px;
    box-shadow: 0px 10px  #008080;
    display: flex;
    justify-content: space-between;
}
.header-left{
    width: 11%;
}
.logo-container{
    margin-top: 15px;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #008080;
}
.logo-image-container {
    width: 40px;
}
.logo-container img{
    width: 40px;
}
.account-notification-container{
    padding-top: 0.25%;
    width: 22%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #008080;
}
.account-container{
    text-align: center;
}
.account-profile-container{
    margin: auto;
    text-align: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #008080;
}
header .fa-user{
    color: #008080;
    font-size: 22px;
}
.account-name-container{
    font-size: 10px;
    color: black;
}
header .fa-user{
    color: #2ca95a;
    font-size: 22px;
}
a{
    text-decoration: none;
    color: black;
}
header a,
section a{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 5%;
}
main{
}
aside{
    position: relative;
}
.burger-menu{
    padding: 1% 2%;
    font-size: 20px;
}
#sidebar-menu-container{
    display: none;
    width: 100%;
    height: 94.5vh;
    position: absolute;
    top: 0px;
    background-color: #f5f6fa;
}
.exit{
    text-align: left;
    padding: 5%;
    width: 0%;
}
.exit a:hover{
    background-color: #f5f6fa;
}
.fa-xmark{
    font-size: 20px;
}
.new-requests,
.personnes-enregistrees,
.informations-personnelles{
    display: flex;
    align-items: center;
    margin: 2.5% 5%;
}
.text{
    margin-left: 5px;
}
#sidebar-menu-container span{
    font-size: 18px;
    text-transform: uppercase;
}
#sidebar-menu-container a{
    display: inline-block;
    text-decoration: none;
    color: #008080;
    width: 100%;
    height: 100%;
}
#sidebar-menu-container a:hover{
    color: #fff;
    background-color: orange;
}
#sidebar-menu-container .fa-solid {
    font-size: 20px;
}
#sidebar-menu-container:target{
    display: block;
}
section{
    padding: 10px;
    height: 71%;
}
.cards-container{
    margin-bottom: 10%;
}
.cards-container span{
    display: block;
}
.new-cni-request{
    padding: 10px 5px;
    background-color: #e85347;
    border: 2px solid #008080;
    margin-bottom: 1%;
    font-size: 12px;
    border-radius: 10px;
    height: 50px;
    color: white;
}
.double-card-container{
    display: flex;
    justify-content: space-between;
}
.new-cj-request{
    margin-right: 1.5%;
    background-color: #f4bd0e;
}
.new-passport-request{
    background-color: #1ee0ac;
}
.new-cj-request,.new-passport-request{
    padding: 10px 5px;
    width: 48%;
    border-radius: 8px;
    height: 50px;
    font-size: 12px;
    border: 2px solid #008080;
    color: white;
}
.board-container{
    border: 2px solid #008080;
    border-radius: 10px;
    text-align: center;
    height: 100%;
}
.board-title{
    font-size: 19px;
    font-weight: bolder;
}
.title{
    font-size: 12px;
    font-weight: bold;
    border-bottom: 2px solid #008080;
}
.board-chart{
    height: 93.7%;
    justify-content: center;
    padding: 10px 10px 0px 10px;
    display: flex;
}
.board-chart div div:nth-child(2),
.board-chart div div:nth-child(4){
    background-color: #fff;
}
.board-chart div div:nth-child(3),
.board-chart div div:nth-child(5){
    background-color: #f5f6fa;
}
.id-container{
    display: none;
}
.box{
    width: 100%;
    border-left: 2px solid #008080;
}
.state-container{
    border-right: 2px solid #008080;
}
@media only screen and (min-width:601px) {
    main{
        background-color: #fff;
        display: flex;
    }
    #sidebar-menu-container{
        display: none;
        width: 100%;
        position: absolute;
        top: 0px;
        background-color: #f5f6fa;
    }
    #sidebar-menu-container a:hover{
        background-color: orange;
    }
    #sidebar-menu-container:target{
        display: block;
        background-color: #f5f6fa;
        width: 325px;
        height: 100%;
    }
    section{
        width: 100%;
        height: 65%;
    }
}
@media only screen and (min-width:992px) {
    .header-left{
        width: 11%;
    }
    .logo-container{
        margin-top: 15px;
        display: flex;
        align-items: center;
        font-size: 25px;
        color: #008080;
    }
    .logo-image-container{
        width: 100%;
    }
    .logo-container img{
        width: 100%;
    }
    .account-notification-container{
        width: 10%;
        font-size: 35px;
    }
    .account-profile-container{
        width: 50px;
        height: 50px;
    }
    .account-name-container{
        font-size: large;
    }
    header .fa-user{
        color: #008080;
        font-size: 40px;
    }
    .admin-name-container{
        padding-right: 15px;
        font-size: 20px;
    }
    aside{
        position: static;
        width: 29%;
        height: 88vh;
    }
    .burger-menu,
    .exit{
        display: none;
    }
    .fa-bars,
    .fa-xmark{
        display: none;
    }
    main{
        background-color: #fff;
        display: flex;
    }
    #sidebar-menu-container{
        display: block;
        position: static;
        margin-top: -1px;
        padding-top: 20px;
        width: 100%;
        height: 100%;
    }
    .new-requests,
    .personnes-enregistrees,
    .informations-personnelles{
        margin-left: 20px;
    }
    #sidebar-menu-container span{
        font-size: 18px;
    }
    #sidebar-menu-container .fa-solid{
        font-size: 40px;
    }
    section{
        width: 82%;
        padding: 0% 15%;
        height: 65%;
    }
    .cards-container{
        padding: 1% 5%;
        display: flex;
        justify-content: space-between;
        height: 100px;
        margin-bottom: 5%;
        color: #fff;
    }
    .single-card-container{
        width: 33%;
    }
    .new-cni-request{
        height: 80px;
        padding: 6%;
        margin-right: 10px;
        font-size: 20px;
    }
    .double-card-container{
        width: 66%;
    }
    .new-cj-request{
        margin-right: 20px;
    }
    .new-cj-request,.new-passport-request{
        height: 80px;
        font-size: 20px;
        padding: 3%;
    }
    .board-container{
        height: 68vh;
        padding: 1%;
    }
    .board-title{
        font-size: 35px;
    }
    .board-chart{
        height: 92%;
    }
    .board-chart div div{
        height: 50px;
        font-size: larger;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .id-container{
        display: block;
    }
}